* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1573165067541-4cd6d9837902?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169');
    background-size: cover;
    background-repeat: no-repeat;
}

.container_um {
    padding-top: 150px;
}

.btn {
    background-color: #1d1d0c;
    color: #e9973e;
}

.btn:hover {
    color: white;
}

.rodape {
    margin-top: 250px;
}

.box {
    width: 900px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.214);
    margin-top: 100px;
    margin-left: 400px;
    color: white;
}

.txtvalidacao {
    font-weight: bold;
    font-size: 20pt;
}
