/* body {
    height: 100%;
} */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-main1 {
    position: relative;
}

.sobre-img1 {
    object-position: 25% 33%;
    object-fit: cover;
    width: 100%;
    height: 700px;
}

.div-text1 {
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 400px;
}

.display-4 {
    font-weight: bolder;
}

.paragrafo {
    width: 1200px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.d-flex {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.sobre-img-co-founder {
    width: 300px;
    height: 300px;
}

.div-quote {
    margin-left: 40px;
}

#aspas {
    width: 150px;
    height: 150px;
    top: 60px;
    left: 60px;
}

.div-cards {
    height: 900px;
    background-color: white;
}

.card-img-top1 {
    object-fit: cover;
    height: 190px;
    object-position: 25% 17%;
}

.card-img-top2 {
    object-fit: cover;
    height: 190px;
    object-position: 25% 40%;
}

.card {
    border: none
}