* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1573165067541-4cd6d9837902?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169');
    background-size: cover;
    background-repeat: no-repeat;
}

.container_um {
    padding-top: 9.375rem;
}

.btn {
    background-color: #111008;
    color: #e9973e;
}

.btn:hover {
    color: white;
}

.rodape {
    margin-top: 15.625rem;
   
}

.nav-bgcolor {
    background-color: #e9973a;
}

.div-bgcolor {
    background-color: #e9973a;
    width: 100vw;
    
}

.footer-bgcolor {
    background-color: #e9973a;
}


.box {
     width: 56.25rem;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.239);
    margin-top: 4.6875rem;
    /* margin-left: 18.75rem; */
    color: white;
}

.txtvalidacao {
    font-weight: bold;
    font-size: 20pt;
}

#div-footer {
    display: flex;
    text-align: center;
  }

.entrada-email {
    width: 400px;
  }

@media (max-width: 900px){
    html{
     font-size: 12px;
     height: 98vh;
    }
    
  }
  
@media (max-width:700px){
    html{
        font-size: 10px;
        height: 98vh;
   
  }
  
@media (max-width:500px){
    html{
        font-size: 8px;
        height: 98vh;
    }

    .box {
        width: 40rem;
        height: 20rem;

    }

    .entrada-email{
        width: 200px;
    }
    
  }
  }

