body {
    height: 100%;
}

.navbar {
    background-color: #e9973a;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-main1 {
    position: relative;
}

.banner {
    object-position: 25% 33%;
    object-fit: cover;
    width: 100%;
    height: 43.75rem;
}

.div-text1 {
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 25rem;
}

.slogan {
    font-weight: bolder;
}

.quote {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.div-img-quote {
    display: flex;
    flex-direction: row;
    height: 37.5rem;
    background-color: #e9973a;
}

.div-quote {
    margin-left: 3rem;
    width: 70rem;
}

.sobre-img-co-founder {
    width: 18.75rem;
    height: 18.75rem;
}

.div-text-techour {
    background-color: black;
    color: white;
    font-size: 25px;
}

.text-techour {
    text-align: justify;
}

.div-cards {
    height: 56.25rem;
    background-color: white;
    width: 98%;
}

.card-img-top1 {
    object-fit: cover;
    height: 190px;
    object-position: 25% 17%;
}

.card-img-top2 {
    object-fit: cover;
    height: 190px;
    object-position: 25% 40%;
}

.card {
    border: none
}

.card-body-1-2 {
    height: 18rem;
}

.div-botao-1-2 {
    margin-top: 10px;
}

.p1 {
    margin-bottom: 0;
}

.div-footer {
    background-color: #e9973a;
}

@media (max-width: 900px) {

    /* html {
        font-size: 10px;
    } */

    .div-quote {
        width: 20rem;
        height: 20rem;
        margin-left: 0;
    }
    .quote {
        font-size: 10px;
    }

    .sobre-img-co-founder {
        width: 10rem;
        height: 10rem;
    }

    .div-img-quote {
        display: flex;
        flex-direction: column;
    }

    .div-text-techour {
        font-size: 12px;

    }

    .text-techour {
        padding: 0;
        
    }
/* 
    .card {
        padding: 0;
    } */

    .card-img-1 {

    }

    .card-img-2 {

    }

    .card-deck {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}