/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

body {
  /* font-family: 'Poppins', sans-serif; */
  background-color: #0d0905;
  min-height: 100vh;
}

.navbar {
  background-color: #e9973a;
}

.login-card {
  border: 0;
  border-radius: 24.5px;
  box-shadow: 0 10px 30px 0 rgba(240, 235, 235, 0.43);
  overflow: hidden;
}

.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.login-card .card-body {
  padding: 85px 60px 60px;
  background-color: #e9973a;
}

.card-titulo h2 {
  margin-bottom: 19px;
  color: #0d0905;
}

.login-card-descricao {
  font-size: 1.0em;
  color: #0d0905;
  margin-bottom: 23px;
}

.login-card form {
  max-width: 326px;
}

.form-label {
  color: #0d0905;
}

.login-card .form-control {
  border: 1px solid #0d09054a;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal;
}

.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #0d0905;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}

.login-card .login-btn:hover {
  border: 1px solid #0d0905;
  background-color: transparent;
  color: #0d0905;
}

.login-card .senha-link {
  font-size: 14px;
  color: #0d0905;
  margin-bottom: 12px;
}

.senha-link:hover {
  color: rgb(242, 242, 242);
}

footer{
  background-color: #e9973a
}

footer a{
  color: #0d0905;
}

a:hover{
  color: rgb(242, 242, 242);;
}

@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}